{% extends 'base.html' %}
{% load static %}

{% block content %}
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  

  <main class="px-3">
    <h1>Multiple System Application</h1>
    <p></p>
    <p class="lead">This is a simple e-voting system just for Presidential, Senate President, Senate and Governor</p>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4">
            
            
        </div>
        <div class="col-md-4">
            <div id="myapp">
                <img src="{% static 'images/vote.jpg' %}" alt="">
                <p></p>
                {% if request.user.user_type == "2" %}
                <button type="submit"><a href="{% url 'evoting:cHome-page' %}">E-Voting</a></button>
                {% elif request.user.user_type == "3"  %}
                <button type="submit"><a href="{% url 'evoting:vHome-page' %}">E-Voting</a></button>
                {% else %}
                <button type="submit"><a href="{% url 'account:register' %}">E-Voting</a></button>
                {% endif %}
            </div>
        </div>
        <div class="col-md-4">
        
        </div>
    
  </main>

  
</div>

{% endblock %}